body{
    margin: 0;
    background-color: #f4f0eb;
    font-family:Montserrat;
}
nav{
    margin: 40px 50px;
    gap: 30px;
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: #3f494e;
    font-weight: 500;
}
nav a:hover{
    font-weight: bold;
    color: #466c7b;
}

/* Styling Hero/Beranda */
.hero{
    margin: 50px 100px;
    display: flex;
}
.hero img{
    margin: 20px 40px;
}
.hero-text{
   display: flex;
    margin: 20px 40px;
    gap: 0px;
    color: #3f494e;
    flex-direction: column;
    justify-content: center;
}
.hero-text h1{
    margin: 10px 0px;
    font-size: 100px;
}
#hero-button{
    padding: 7px 14px;
    background-color: #466c7b;
    color: #f4f0eb;
    font-weight: normal;
    text-decoration: none;
    border-radius: 4px;
}
.icon-sosmed{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.icon-sosmed a{
    color: #3f494e;
}


/* Styling About */
.about{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}
.about h1{
    color: #3f494e;
}
.bio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.bio-text-img{
    display: flex;
    margin: 0px 40px;
}
.about img{
    width: 200px;
    padding: 20px 20px 60px 20px;
    background-color: #fff;
    border-radius: 4px;
}
.bio-text{
    margin: 10px 80px;
    color: #3f494e;
    text-align: justify;
}
.bio-experience{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#bio-education{
    margin: 40px;
    color: #3f494e;
    text-align: justify;
}
#pp-heading{
    font-weight: 550;
}
#pp-fill{
    list-style-type: none;
}
#bio-skils{
    margin: 40px;
    color: #3f494e;
}
#tech{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#tech img{
    width: 50px;
}

/* Styling Portofolio */
.portofolio{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    color: #3f494e;
}
.projek{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.projek a{
    display: flex;
    flex-direction: row;
    padding: 60px 50px;
    gap: 50px;
    text-decoration: none;
    color: #3f494e;
}
#card-projek{
    background-color: white;
    border-radius: 8px;
}
#card-projek img{
    width: 500px;
}
#card-isi{
    display: flex;
    flex-direction: column;
    color: #3f494e;
    text-align: justify;
}
#tech-icon img{
    width: 30px;
}

/* Styling Blog */
.blog{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    color: #3f494e;
}
.artikel{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card-blog{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
    border-radius: 6px;
    align-items: center;
}
#card-isi p{
    margin: 0;
    width: 115px;
    padding: 15px 30px;
    border: #466c7b solid 1px;
    text-align: center;
}
#my-button{
    height: 40px;
    width: 150px;
    background-color: #466c7b;
    color: #f4f0eb;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}